.container {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 100px;
    
  }

  
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .back-arrow {
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .upload-area {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .icon-upload {
    text-align: center;
    margin-bottom: 100px;
    
  }
  
  .upload-icon {
    display: inline-block;
    width: 80px;
    height: 80px;
    background-image: url('upload.png');
    background-size: cover;
  }
  
  .upload-btn {
    padding: 10px 20px;
    background-color: #9EBFCB;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
  }
  header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1521px;
    height: 90px;
    
    background-color:#9EBFCB;
    ;
    color: #fff;
  }