/* Reset dan gaya dasar */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;

}

body {
  font-family: Arial, sans-serif;
  /* line-height: 1.6; */
  color: black;
}

/* HEADER */
.navbar {
  background-color: #9EBFCB;
}

.navbar .nav-link-beranda {
 border-bottom: 3px solid #168493; 
}

.navbar #profileBtn {
  cursor: pointer;
}

.profil {
  width: 45px;
  height: 45px;
}

.floating-menu {
  transform: scale(0);
  transform-origin: 20% 20%;
  z-index: 2000;
  transition: .2s;
}

.back-layer {
  z-index: 1999;
  height: 100vh;
  width: 100vw;
  transform: scale(0);
}

.back-layer.show {
  transform: scale(1);
}

.floating-menu.show {
  transform: scale(1);
}


/* MAIN */
.search-container input {
  background-color: #D7D0D0;
}

.semua {
  background-color: #D7D0D0;
}

.row .image-card:hover {
  background-color: #00000009;
  cursor: pointer;
  border-radius: 20px;
}

.totorial {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(125px 70px));
  margin: 0px;
  align-items: center;
  grid-gap: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;

}

.searching {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  padding: 8px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-input {
  flex-grow: 1;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 8px 12px;
  font-size: 16px;
}

.search-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px;
}

.search-button img {
  width: 20px;
  height: 20px;
}

/* .semua {
  width: 108px;
  height: 42px;
  border-radius: 7px;
  color: #fff;
  background-color: #000000;
} */

.Plastik {
  width: 108px;
  height: 42px;
  border-radius: 7px;
  color: #000000;
  background-color: #D7D0D0;
}

.kaleng {
  width: 108px;
  height: 42px;
  border-radius: 7px;
  color: #000000;
  background-color: #D7D0D0;
}

.kardus {
  width: 108px;
  height: 42px;
  border-radius: 7px;
  color: #000000;
  background-color: #D7D0D0;
}

.kertas {
  width: 108px;
  height: 42px;
  border-radius: 7px;
  color: #000000;
  background-color: #D7D0D0;
}

.baru {
  width: 229px;
  height: 42px;
  border-radius: 7px;
  color: #000000;
  background-color: #D7D0D0;
}

.diup {
  width: 229px;
  height: 42px;
  border-radius: 7px;
  color: #000000;
  background-color: #D7D0D0;
}

.gambar_tengah {
  justify-content: center;
  margin: 0px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

footer {
  background-color: #578292;
}