/* Reset dan gaya dasar */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;

}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: rgb(255, 255, 255);
  color: black;

}

/* Header */
/* header {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1521px;
  height: 90px;
  background-color: #9EBFCB;
}

header .beranda {
  font-size: 24px;
} */

.navbar {
  background-color: #9EBFCB;
}

.navbar .nav-link-beranda {
 border-bottom: 3px solid #168493; 
}

nav {
  display: flex;
  justify-content: center;
  padding: 10px;
}

nav button {
  background-color: #D7D0D0;

  margin: 0 5px;
  padding: 0px 5px;
  color: black;
  width: 108px;
  height: 42px;

}

.profil {
  width: 45px;
  height: 45px;
}

.totorial {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(125px 70px));
  margin: 0px;
  align-items: center;
  grid-gap: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;

}

.searching {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  padding: 8px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-input {
  flex-grow: 1;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 8px 12px;
  font-size: 16px;
}

.search-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px;
}

.search-button img {
  width: 20px;
  height: 20px;
}

.semua {
  width: 108px;
  height: 42px;
  border-radius: 7px;
  color: #fff;
  background-color: #000000;
}

.Plastik {
  width: 108px;
  height: 42px;
  border-radius: 7px;
  color: #000000;
  background-color: #D7D0D0;
}

.kaleng {
  width: 108px;
  height: 42px;
  border-radius: 7px;
  color: #000000;
  background-color: #D7D0D0;
}

.kardus {
  width: 108px;
  height: 42px;
  border-radius: 7px;
  color: #000000;
  background-color: #D7D0D0;
}

.kertas {
  width: 108px;
  height: 42px;
  border-radius: 7px;
  color: #000000;
  background-color: #D7D0D0;
}

.baru {
  width: 229px;
  height: 42px;
  border-radius: 7px;
  color: #000000;
  background-color: #D7D0D0;
}

.diup {
  width: 229px;
  height: 42px;
  border-radius: 7px;
  color: #000000;
  background-color: #D7D0D0;
}

.gambar_tengah {
  justify-content: center;
  margin: 0px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.gambar_tepi {
  justify-content: center;
  margin: 0px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.Footer {
  background-color: #578292;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
}

.footer-left h3 {
  text-align: left;
}

.footer-left h4 {
  display: flex;
  justify-content: flex-start;
  /* untuk rata kiri */
  align-items: center;
  /* untuk tengah vertikal */
  font-size: 15px;
}

.footer-left h5 {
  display: flex;
  justify-content: flex-start;
  /* untuk rata kiri */
  align-items: center;
  /* untuk tengah vertikal */
  font-size: 15px;
}

.footer-left h6 {
  display: flex;
  justify-content: flex-start;
  /* untuk rata kiri */
  align-items: center;
  /* untuk tengah vertikal */
  font-size: 15px;
}

.button {
  display: block;
  margin-right: 20px;
}

.vidio {
  width: 800px;
  height: 248px
}